In [ ]:
# Answer a few questions before diving into the problem before  joining the features and response
# What do the features actually mean?
# Why don't the unique IDs of labels and telematic data match up?
# What does accuracy mean?
# What does second mean?
# What does acceleration and gyro actually mean?

In [1]:
import pandas as pd

In [2]:
df0 = pd.read_csv("../grab-ai-safety-data/features/part-00000-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
df1 = pd.read_csv("../grab-ai-safety-data/features/part-00001-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
df2 = pd.read_csv("../grab-ai-safety-data/features/part-00002-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
df3 = pd.read_csv("../grab-ai-safety-data/features/part-00003-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
df4 = pd.read_csv("../grab-ai-safety-data/features/part-00004-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
df5 = pd.read_csv("../grab-ai-safety-data/features/part-00005-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
df6 = pd.read_csv("../grab-ai-safety-data/features/part-00006-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
df7 = pd.read_csv("../grab-ai-safety-data/features/part-00007-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
df8 = pd.read_csv("../grab-ai-safety-data/features/part-00008-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
df9 = pd.read_csv("../grab-ai-safety-data/features/part-00009-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv")
response = pd.read_csv("../grab-ai-safety-data/labels/part-00000-e9445087-aa0a-433b-a7f6-7f4c19d78ad6-c000.csv")

In [3]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9], axis=0)

In [5]:
df.head()

,bookingID,Accuracy,Bearing,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,second,Speed
0,1194000908341,4.000,203.000000,1.001973,9.745000,-0.790087,-0.066046,0.019175,0.044741,246.0,6.480000
1,1099511627891,3.000,311.000000,0.452518,9.273026,3.098191,0.005382,0.002155,-0.001436,66.0,0.340365
2,962072674446,10.000,142.807999,0.018542,-8.041156,-4.960114,0.004223,-0.014875,0.007397,1552.0,2.050000
3,1142461300867,8.000,171.205292,-0.290698,-8.295367,-3.049042,0.033618,0.046224,0.030559,277.0,17.608448
4,412316860548,19.379,0.000000,0.675613,8.846130,1.852508,-0.008652,0.003693,0.001160,148.0,0.000000

In [4]:
df.count()

bookingID         14522007
Accuracy          14522007
Bearing           14522007
acceleration_x    14522007
acceleration_y    14522007
acceleration_z    14522007
gyro_x            14522007
gyro_y            14522007
gyro_z            14522007
second            14522007
Speed             14522007
dtype: int64

In [19]:
df.drop_duplicates().count()

bookingID         14522007
Accuracy          14522007
Bearing           14522007
acceleration_x    14522007
acceleration_y    14522007
acceleration_z    14522007
gyro_x            14522007
gyro_y            14522007
gyro_z            14522007
second            14522007
Speed             14522007
dtype: int64

In [13]:
response

           bookingID  label
0       111669149733      0
1       335007449205      1
2       171798691856      0
3      1520418422900      0
4       798863917116      0
5       283467841567      0
6       231928234141      0
7       188978561143      0
8      1194000908346      0
9       274877906944      1
10     1099511627969      0
11      970662609018      0
12      463856467983      0
13     1357209665706      1
14      335007449091      0
15      541165879318      0
16     1649267441739      0
17     1571958030499      0
18     1675037245443      0
19      841813590179      1
20     1700807049377      1
21     1417339207762      0
22      335007449265      0
23      137438953500      0
24     1657857376302      0
25      798863917231      0
26      893353197579      0
27       60129542163      0
28      584115552303      0
29      678604832930      1
...              ...    ...
19988   463856468105      0
19989   876173328528      1
19990             18      1
19991    42949673080      0
19992   231928233989      1
19993   738734374949      1
19994   300647710771      0
19995  1503238553671      1
19996   180388626448      0
19997  1065151889534      1
19998   661424963641      1
19999   146028888192      0
20000  1288490188821      0
20001   773094113323      0
20002   755914244202      0
20003   249108103207      0
20004  1039382085748      1
20005   979252543556      0
20006  1022202216564      0
20007   197568495694      0
20008   154618822673      0
20009   541165879450      0
20010   231928234043      0
20011   154618822667      0
20012   558345748558      0
20013   429496729754      0
20014   154618822713      0
20015   979252543488      0
20016  1657857376309      0
20017   558345748643      1

[20018 rows x 2 columns]